In [1]:
import pandas as pd

In [11]:
titanicData = pd.read_csv('titanic/titanicData.csv')

In [12]:
filas, columnas = titanicData.shape
print(f"La cantidad de filas es de: {filas}")
print(f"La cantidad de columnas es de: {columnas}")

La cantidad de filas es de: 889
La cantidad de columnas es de: 8

In [13]:
print("La cantidad de valores nulos por columna son: ")
titanicData.isnull().sum()

La cantidad de valores nulos por columna son:

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [ ]:
titanicData.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace=True)

In [ ]:
titanicData['Age'] = titanicData['Age'].fillna(round(titanicData['Age'].mean(), 1))

In [18]:
titanicData.dropna(inplace=True)

In [20]:
titanicData.to_csv('titanic/titanicData.csv', index=False)

In [6]:
titanicData.shape

(2207, 11)