In [1]:
import pandas as pd

In [2]:
titanicData = pd.read_csv('train.csv')

In [3]:
filas, columnas = titanicData.shape
print(f"La cantidad de filas es de: {filas}")
print(f"La cantidad de columnas es de: {columnas}")

La cantidad de filas es de: 891
La cantidad de columnas es de: 12

In [4]:
print("La cantidad de valores nulos por columna son: ")
titanicData.isnull().sum()

La cantidad de valores nulos por columna son:

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
titanicData.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace=True)

In [6]:
titanicData['Age'] = titanicData['Age'].fillna(round(titanicData['Age'].mean(), 1))

In [7]:
titanicData.dropna(inplace=True)

In [8]:
titanicData['Fare'] = titanicData['Fare'].round(2)

In [14]:
titanicData.to_excel('titanicData..xlsx', index=False)

In [15]:
titanicData.shape

(889, 8)